
<div class="container  bg-light p-1 " style="margin-top: 8%;">
    <header class="d-flex justify-content-center fw-bold mt-3">Welcome to User dashboard</header>
    <input type="text" class="form-control my-3 w-50 mx-auto   " [(ngModel)]="searchTerm" placeholder=" search by ID..."> 

   <div class="d-flex justify-content-between">
    <div *ngFor="let user of users | filter:searchTerm"    >
        <img [src]="user.avatar" alt="{{ user.first_name }}" class="cardd w-75 cursor" style="border-radius: 4px;"
        (click)="onSelect(user.id)" >  
        <!-- we also can use routerLink for navigating to user details  -->
        <div>
          <h3 class="m-2 text-dark bg-light p-2">  {{ user.first_name }} </h3>
        </div>
      </div>
   </div>
      <mat-paginator [length]="totalUsers" [pageSize]="usersPerPage" 
      [pageSizeOptions]="[6]" (page)="onPageChange($event)">
    </mat-paginator>
</div>